/* Base styles */
.container {
  width: 44%;
  margin: 0 auto;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

input{
  padding: 7% 10%;
  border: 1px solid rgb(32, 32, 21);
  border-radius: 5px;
}

label {
  font-weight: bold;
}

date{
  padding: 10%;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #0f0101;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.con-valid{
  color: red;
}

/* Style for the Country dropdown */
.formGroup mat-select {
max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  max-height: 200px; /* Adjust the max-height to your preference */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}


.custom-select {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Responsive CSS for laptops/desktops */
@media screen and (max-width: 768px) {
  .form-row {
    flex-direction: column; /* Stack the form elements vertically for mobile */
  }

  .form-group {
    flex: none;
  }

  /* Adjust padding for mobile (less than 50%) */
  .container {
    padding: 10px;
  }
}


h2{
  text-align: center;
}

